.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./food.jpg'); 
    background-size: cover; 
    opacity: 0.25; 
}

.container {
    display: flex;
    position: relative;
}

.content {
    flex: 1;
    margin-right: 20px;
    margin-top: 10px;
    position: relative; 
    color: #1F3D0C; 
}

.section {
    margin: 20px;
    margin-bottom: 300px; /* Adjusted margin */
    scroll-margin-top: 500px;
    width: calc(50% - 40px); /* Adjusted width */
    font-family: 'Copperplate', sans-serif;
    float: left; /* Float the section to the left */
}

.scatterplot-container {
    margin-left: 20px;
    width: calc(50% - 40px); /* Adjusted width */
    float: right; /* Float the scatterplot to the right */
}

.scatterplot {
    margin: 20px 0;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .scatterplot-container {
        margin-left: 0;
        margin-top: 20px;
    }

    .section {
        width: 100%; /* Adjust width for smaller screens */
        float: none; /* Remove float for smaller screens */
        margin-right: 0; /* Remove right margin for smaller screens */
    }
}

#tooltip {
    opacity: 0;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}
